.dashboard-tabs
{
	background-color: #eaeaea;
	background-image: linear-gradient(#fafafa, #eaeaea);
	background-image: -moz-linear-gradient(#fafafa, #eaeaea);
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
	background-repeat: repeat-x;
	border: 1px solid #eaeaea;
	border-bottom-color: #cacaca;
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-left: 0;
	position: relative;
}
.dashboard-tabs li
{
	display: table-cell;
	list-style-type: none;
	margin: 0;
	width: 1%;
}
.dashboard-tabs li:first-child a
{
	border-bottom-left-radius: 3px;
	border-left: none;
}
.dashboard-tabs li:first-child a:hover,.dashboard-tabs li:first-child a.selected
{
	border-top-left-radius: 3px;
}
.dashboard-tabs li:last-child a
{
	border-bottom-right-radius: 3px;
	border-right: none;
}
.dashboard-tabs li:last-child a:hover,.dashboard-tabs li:last-child a.selected
{
	border-top-right-radius: 3px;
}
.dashboard-tabs a
{
	border-bottom: 2px solid #DADADA;
	border-left: 1px solid #fcfcfc;
	border-left-color: rgba(255,255,255,0.7);
	border-right: 1px solid #eee;
	border-right-color: rgba(0,0,0,0.04);
	color: #777;
	display: block;
	font-size: 12px;
	line-height: 35px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 white;
}
.dashboard-tabs a:hover
{
	background-color: #dce6ef;
	background-image: linear-gradient(#fafbfd, #dce6ef);
	background-image: -moz-linear-gradient(#fafbfd, #dce6ef);
	background-image: -webkit-linear-gradient(#fafbfd, #dce6ef);
	background-repeat: repeat-x;
	border-bottom: 2px solid #CFDCE8;
	color: #4183c4;
}
.dashboard-tabs a.selected,.dashboard-tabs a.selected:hover
{
	background-color: #ebebeb;
	background-image: linear-gradient(#fcfcfc, #ebebeb);
	background-image: -moz-linear-gradient(#fcfcfc, #ebebeb);
	background-image: -webkit-linear-gradient(#fcfcfc, #ebebeb);
	background-repeat: repeat-x;
	border-bottom: 2px solid #4183C4;
	color: #000;
}
.dashboard-tabs a .counter
{
	background: #fff;
	border-radius: 8px;
	border-top: 1px solid #ccc;
	color: #777;
	display: inline-block;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 10px;
	height: auto;
	line-height: 14px;
	margin: 0 0 0 5px;
	padding: 0 8px 1px 8px;
	position: relative;
	text-align: center;
	top: -1px;
	vertical-align: text-top;
}
.flash, .flash-global {
	position: relative;
	border: 1px solid #97C1DA;
	color: #264C72;
	background-color: #D0E3EF;
	background-image: -moz-linear-gradient(#d8ebf8, #d0e3ef);
	background-image: -webkit-linear-gradient(#D8EBF8, #D0E3EF);
	background-image: linear-gradient(#D8EBF8, #D0E3EF);
	background-repeat: repeat-x;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}
.flash-messages {
	margin-top: 15px;
	margin-bottom: 15px;
	}
.flash {
	padding: 15px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	}
.flash.flash-warn, .flash-global.flash-warn {
	color: #613A00;
	background-color: #F5DAC0;
	background-image: -moz-linear-gradient(#ffe3c8, #f5dac0);
	background-image: -webkit-linear-gradient(#FFE3C8, #F5DAC0);
	background-image: linear-gradient(#FFE3C8, #F5DAC0);
	background-repeat: repeat-x;
	border-color: #DCA874;
	}